/* Estilos para el Header */
.contenedor-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dd6e0d;
  z-index: 9999; /* Asegura que el Header esté siempre en la parte superior */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo a {
  font-family: 'Righteous';
  font-size: 36px;
  color: #1CB698;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-align: none;
  color: #1CB698;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}

/* Estilos para el botón del menú responsive (se oculta en pantallas grandes) */
.nav-responsive {
  display: none;
}

/* Media query para mostrar el botón del menú responsive solo en pantallas pequeñas */
@media (max-width: 768px) {
  .nav-responsive {
    display: block;
  }
  
  nav {
    display: none;
  }
}

.contenido {
  margin-top: 100px; /* Ajustar el valor según la altura del Header para evitar que el contenido quede oculto detrás del Header */
  text-align: center;
  padding: 20px;
}



/*agregar polera*/
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.container label,
.container input {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  width: 95%;
}

.container label {
  font-weight: bold;
}

.container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo{
  text-align: center;
}

.btn-agregar {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #4CAF50;
  width: 100%; 
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #4CAF50;
  position: relative;
  z-index: 10;
  overflow: hidden;
}


.btn-agregar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4CAF50;
  z-index: -1;
  transition: width 0.5s ease; 
}


.poleras-table {
  width: 70%; 
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
}

.poleras-table th,
.poleras-table td {
  padding: 12px;
  border: 1px solid #000000;
  text-align: center;
}

.poleras-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.poleras-table tr:nth-child(even) {
  background-color: #f9f9f9;
}



/*Mostrar Poleras*/

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.tarjeta h3 {
  font-size: 18px;
  margin-top: 10px;
}

.tarjeta p {
  font-size: 14px;
  color: #666;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.imagen-polera {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajusta la altura máxima de la imagen según tu preferencia */
}


/* Media queries para estilos responsive */
@media screen and (max-width: 600px) {
  /* Ajustar el ancho del contenedor principal y la tabla al 90% para pantallas pequeñas */
  .container {
    max-width: 90%;
  }
  
  .poleras-table {
    width: 90%;
  }
}
