@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,600;0,800;1,400&display=swap');



/* Estilos para el encabezado */
.contenedor-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dd6e0d;
  z-index: 9999; /* Asegura que el Header esté siempre en la parte superior */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo a {
  font-family: 'Righteous';
  font-size: 36px;
  color: #080501;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-family: 'Righteous';
  color: #080501;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

/* Estilos para el menú responsive */
.nav-responsive {
  display: none;
  cursor: pointer;
}

@media screen and (max-width:980px) {
  nav{
      display: none;
  }
  .nav-responsive{
      display: block;
  }
  nav.responsive{
      display: block;
      position: absolute;
      right: 0;
      top: 75px;
      background-color: #dd6e0d;
      width: 180px;
  }
  nav.responsive ul{
      display: block !important;
  }
  nav.responsive ul li{
      border-bottom: 1px solid #fff;
      padding: 10px;
  }
}


.contenido {
  margin-top: 100px; /* Ajustar el valor según la altura del Header para evitar que el contenido quede oculto detrás del Header */
  text-align: center;
  padding: 20px;
}



/*agregar polera*/
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.container label,
.container input {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  width: 95%;
}

.container label {
  font-weight: bold;
}

.container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo{
  text-align: center;
}

.btn-agregar {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #4CAF50;
  width: 100%; 
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #4CAF50;
  position: relative;
  z-index: 10;
  overflow: hidden;
}


.btn-agregar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4CAF50;
  z-index: -1;
  transition: width 0.5s ease; 
}


.poleras-table {
  width: 70%; 
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
}

.poleras-table th,
.poleras-table td {
  padding: 12px;
  border: 1px solid #000000;
  text-align: center;
}

.poleras-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.poleras-table tr:nth-child(even) {
  background-color: #f9f9f9;
}



/*Mostrar Poleras*/

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.tarjeta h3 {
  font-size: 18px;
  margin-top: 10px;
}

.tarjeta p {
  font-size: 14px;
  color: #666;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.imagen-polera {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajusta la altura máxima de la imagen según tu preferencia */
}


/* Media queries para estilos responsive */
@media screen and (max-width: 600px) {
  /* Ajustar el ancho del contenedor principal y la tabla al 90% para pantallas pequeñas */
  .container {
    max-width: 90%;
  }
  
  .poleras-table {
    width: 90%;
  }
}

/* Inicio */

.inicio {
  background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgba(30, 35, 38, 0.1)),
    url(https://scontent-scl2-1.xx.fbcdn.net/v/t1.6435-9/86737015_1404798813014341_4588029780942651392_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=fwuA5BVaRDMAX9vTMZD&_nc_ht=scontent-scl2-1.xx&oh=00_AfC-fOOF-Sm7wed_H76WmCqiiAKVI6DVZEmNtEZ6H-eKIg&oe=64FE257E); /* Agrega la URL de tu imagen de fondo aquí */
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.contenido-banner {
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.contenido-banner img {
  margin-top: 40px;
  border: 10px solid #dd6e0d;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 50%; /* Cambiado de 100% a 50% para que sea un círculo */
}

.contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Righteous', sans-serif; /* Asegúrate de importar la fuente correctamente */
}

.contenido-banner h2 {
  font-size: 15px;
  font-weight: normal;
}

.redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%; /* Cambiado de 100% a 50% para que sea un círculo */
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 10px 5px; /* Reducido el margen superior para mejor alineación */
  font-size: 20px;
  transition: 0.3s;
}

.redes a:hover {
  background-color: #dd6e0d;
}

